In [2]:
import pandas as pd
import matplotlib.pyplot as plt

# Reading CSV file

In [5]:
df = pd.read_csv('/Users/dipeshgupta/Downloads/orders.csv')
df

,order_id,order_time,customer_id,city,locality,warehouse_id,delivery_partner_id,product_id,product_name,category,...,acquisition_channel,is_prime_member,weather,basket_size_est,latitude,longitude,hour_of_day,day_of_week,month,is_weekend
0,48110883,2025-07-16 14:27:04,5556469,Chennai,Adyar,WH-044,DP-00575,P000649,Zepto Select Treats,Pet Care,...,Display,0,Cloudy,2,13.069601,80.291786,14,Wednesday,2025-07,0
1,86979781,2024-12-23 04:59:09,9790755,Hyderabad,Begumpet,WH-038,DP-02256,P000344,Britannia Instant Noodles,Breakfast & Instant,...,Organic,0,Clear,2,17.380547,78.438581,4,Monday,2024-12,0
2,17194718,2024-03-29 11:11:45,4853047,Kolkata,Garia,WH-057,DP-04771,P000155,Amul Nachos,Snacks & Munchies,...,Social,0,Fog,1,22.540431,88.361737,11,Friday,2024-03,0
3,51824395,2024-07-02 17:51:06,1025320,Chennai,Adyar,WH-007,DP-03079,P000302,Pepsico Cornflakes,Breakfast & Instant,...,Organic,0,Cloudy,4,13.067234,80.268494,17,Tuesday,2024-07,0
4,84872995,2024-08-22 09:55:37,1871995,Jaipur,Mansarovar,WH-046,DP-01664,P000324,Pepsico Poha,Breakfast & Instant,...,Organic,0,Light Rain,4,26.973397,75.756210,9,Thursday,2024-08,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,51959980,2024-09-16 06:23:05,6162027,Ahmedabad,Vastrapur,WH-037,DP-03077,P000124,Britannia Iced Tea,Beverages,...,Organic,0,Cloudy,1,23.031928,72.583743,6,Monday,2024-09,0
299996,70042051,2025-07-09 19:08:03,1777806,Mumbai,Powai,WH-036,DP-01070,P000032,Local Brand Paneer,Dairy & Bakery,...,Organic,0,Light Rain,2,19.086353,72.863574,19,Wednesday,2025-07,0
299997,14359742,2024-04-18 04:09:30,4413474,Mumbai,Lower Parel,WH-037,DP-04592,P000557,HUL Vanilla,Ice Creams,...,Organic,1,Fog,5,19.070663,72.893028,4,Thursday,2024-04,0
299998,37596888,2024-05-19 17:14:53,6729429,Mumbai,Dadar,WH-052,DP-04604,P000119,Dabur Energy Drink,Beverages,...,Influencer,0,Hazy,5,19.051989,72.930884,17,Sunday,2024-05,1
299999,12420352,2024-11-14 11:51:06,2928347,Delhi,Karol Bagh,WH-023,DP-03151,P000646,Tata Treats,Pet Care,...,Organic,1,Clear,5,28.650892,77.163051,11,Thursday,2024-11,0

# Check Datatypes

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 42 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              300000 non-null  int64
 1   order_time            300000 non-null  object
 2   customer_id           300000 non-null  int64
 3   city                  300000 non-null  object
 4   locality              300000 non-null  object
 5   warehouse_id          300000 non-null  object
 6   delivery_partner_id   300000 non-null  object
 7   product_id            300000 non-null  object
 8   product_name          300000 non-null  object
 9   category              300000 non-null  object
 10  brand                 300000 non-null  object
 11  quantity              300000 non-null  int64
 12  unit_price            300000 non-null  float64
 13  item_discount         300000 non-null  float64
 14  item_total            300000 non-null  float64
 15  taxes                 300000 non-null  float64
 16  tip                   300000 non-null  float64
 17  surge_multiplier      300000 non-null  float64
 18  row_grand_total       300000 non-null  float64
 19  delivery_distance_km  300000 non-null  float64
 20  delivery_eta_min      300000 non-null  int64
 21  delivery_time_min     292638 non-null  float64
 22  delivered_on_time     292638 non-null  float64
 23  cancel_flag           300000 non-null  int64
 24  return_flag           300000 non-null  int64
 25  refund_amount         300000 non-null  float64
 26  rating                135576 non-null  float64
 27  payment_method        300000 non-null  object
 28  coupon_code           74982 non-null   object
 29  platform              300000 non-null  object
 30  app_version           300000 non-null  object
 31  session_id            300000 non-null  object
 32  acquisition_channel   300000 non-null  object
 33  is_prime_member       300000 non-null  int64
 34  weather               300000 non-null  object
 35  basket_size_est       300000 non-null  int64
 36  latitude              300000 non-null  float64
 37  longitude             300000 non-null  float64
 38  hour_of_day           300000 non-null  int64
 39  day_of_week           300000 non-null  object
 40  month                 300000 non-null  object
 41  is_weekend            300000 non-null  int64
dtypes: float64(14), int64(10), object(18)
memory usage: 96.1+ MB

# Check count, mean, etc...

In [8]:
df.describe()

,order_id,customer_id,quantity,unit_price,item_discount,item_total,taxes,tip,surge_multiplier,row_grand_total,...,cancel_flag,return_flag,refund_amount,rating,is_prime_member,basket_size_est,latitude,longitude,hour_of_day,is_weekend
count,3.000000e+05,3.000000e+05,300000.00000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,...,300000.000000,300000.000000,300000.000000,135576.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000
mean,5.495757e+07,5.499781e+06,1.87742,27.419537,1.371637,48.892746,1.955656,3.945547,1.041779,56.835513,...,0.024540,0.009643,1.330582,3.679877,0.300757,3.497133,20.283620,77.186476,11.474737,0.285680
std,2.597714e+07,2.596435e+06,1.05352,15.529230,3.165682,42.486264,1.858568,9.548853,0.123887,47.610765,...,0.154719,0.097726,9.553308,1.109951,0.458588,1.708042,5.296680,4.250177,6.921069,0.451738
min,1.000058e+07,1.000004e+06,1.00000,7.200000,0.000000,4.690000,0.100000,0.000000,1.000000,4.840000,...,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,12.852566,72.457184,0.000000,0.000000
25%,3.248284e+07,3.251893e+06,1.00000,16.580000,0.000000,21.280000,0.790000,0.000000,1.000000,25.210000,...,0.000000,0.000000,0.000000,3.000000,0.000000,2.000000,17.369178,72.912657,5.000000,0.000000
50%,5.495957e+07,5.507775e+06,2.00000,23.770000,0.000000,35.410000,1.370000,0.000000,1.000000,43.130000,...,0.000000,0.000000,0.000000,4.000000,0.000000,3.000000,19.080967,77.221198,11.000000,0.000000
75%,7.740714e+07,7.747448e+06,3.00000,34.060000,0.000000,61.830000,2.450000,0.000000,1.000000,72.240000,...,0.000000,0.000000,0.000000,4.000000,1.000000,5.000000,23.055929,78.503601,17.000000,1.000000
max,9.999980e+07,9.999983e+06,4.00000,256.360000,76.380000,1025.440000,56.750000,40.000000,1.600000,1082.190000,...,1.000000,1.000000,399.950000,5.000000,1.000000,6.000000,28.742581,88.474593,23.000000,1.000000

# How to round

In [9]:
df.describe().round()

,order_id,customer_id,quantity,unit_price,item_discount,item_total,taxes,tip,surge_multiplier,row_grand_total,...,cancel_flag,return_flag,refund_amount,rating,is_prime_member,basket_size_est,latitude,longitude,hour_of_day,is_weekend
count,300000.0,300000.0,300000.0,300000.0,300000.0,300000.0,300000.0,300000.0,300000.0,300000.0,...,300000.0,300000.0,300000.0,135576.0,300000.0,300000.0,300000.0,300000.0,300000.0,300000.0
mean,54957569.0,5499781.0,2.0,27.0,1.0,49.0,2.0,4.0,1.0,57.0,...,0.0,0.0,1.0,4.0,0.0,3.0,20.0,77.0,11.0,0.0
std,25977140.0,2596435.0,1.0,16.0,3.0,42.0,2.0,10.0,0.0,48.0,...,0.0,0.0,10.0,1.0,0.0,2.0,5.0,4.0,7.0,0.0
min,10000580.0,1000004.0,1.0,7.0,0.0,5.0,0.0,0.0,1.0,5.0,...,0.0,0.0,0.0,1.0,0.0,1.0,13.0,72.0,0.0,0.0
25%,32482842.0,3251893.0,1.0,17.0,0.0,21.0,1.0,0.0,1.0,25.0,...,0.0,0.0,0.0,3.0,0.0,2.0,17.0,73.0,5.0,0.0
50%,54959570.0,5507775.0,2.0,24.0,0.0,35.0,1.0,0.0,1.0,43.0,...,0.0,0.0,0.0,4.0,0.0,3.0,19.0,77.0,11.0,0.0
75%,77407143.0,7747448.0,3.0,34.0,0.0,62.0,2.0,0.0,1.0,72.0,...,0.0,0.0,0.0,4.0,1.0,5.0,23.0,79.0,17.0,1.0
max,99999798.0,9999983.0,4.0,256.0,76.0,1025.0,57.0,40.0,2.0,1082.0,...,1.0,1.0,400.0,5.0,1.0,6.0,29.0,88.0,23.0,1.0

# Check Null Values

In [10]:
df.isnull()

,order_id,order_time,customer_id,city,locality,warehouse_id,delivery_partner_id,product_id,product_name,category,...,acquisition_channel,is_prime_member,weather,basket_size_est,latitude,longitude,hour_of_day,day_of_week,month,is_weekend
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
299996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
299997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
299998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
299999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

# Sum of Null Values

In [12]:
df.isnull().sum()

order_id                     0
order_time                   0
customer_id                  0
city                         0
locality                     0
warehouse_id                 0
delivery_partner_id          0
product_id                   0
product_name                 0
category                     0
brand                        0
quantity                     0
unit_price                   0
item_discount                0
item_total                   0
taxes                        0
tip                          0
surge_multiplier             0
row_grand_total              0
delivery_distance_km         0
delivery_eta_min             0
delivery_time_min         7362
delivered_on_time         7362
cancel_flag                  0
return_flag                  0
refund_amount                0
rating                  164424
payment_method               0
coupon_code             225018
platform                     0
app_version                  0
session_id                   0
acquisition_channel          0
is_prime_member              0
weather                      0
basket_size_est              0
latitude                     0
longitude                    0
hour_of_day                  0
day_of_week                  0
month                        0
is_weekend                   0
dtype: int64

# Check count of rows & columns

In [14]:
df.shape

(300000, 42)

# Sum of rows & columns

In [17]:
df.isnull().sum()/len(df)*100

order_id                 0.000
order_time               0.000
customer_id              0.000
city                     0.000
locality                 0.000
warehouse_id             0.000
delivery_partner_id      0.000
product_id               0.000
product_name             0.000
category                 0.000
brand                    0.000
quantity                 0.000
unit_price               0.000
item_discount            0.000
item_total               0.000
taxes                    0.000
tip                      0.000
surge_multiplier         0.000
row_grand_total          0.000
delivery_distance_km     0.000
delivery_eta_min         0.000
delivery_time_min        2.454
delivered_on_time        2.454
cancel_flag              0.000
return_flag              0.000
refund_amount            0.000
rating                  54.808
payment_method           0.000
coupon_code             75.006
platform                 0.000
app_version              0.000
session_id               0.000
acquisition_channel      0.000
is_prime_member          0.000
weather                  0.000
basket_size_est          0.000
latitude                 0.000
longitude                0.000
hour_of_day              0.000
day_of_week              0.000
month                    0.000
is_weekend               0.000
dtype: float64

In [18]:
df.dropna().shape

(33080, 42)

In [21]:
df[df.duplicated()].shape

(0, 42)

# Check Duplicate Values

In [22]:
df[df.duplicated()]

Empty DataFrame
Columns: [order_id, order_time, customer_id, city, locality, warehouse_id, delivery_partner_id, product_id, product_name, category, brand, quantity, unit_price, item_discount, item_total, taxes, tip, surge_multiplier, row_grand_total, delivery_distance_km, delivery_eta_min, delivery_time_min, delivered_on_time, cancel_flag, return_flag, refund_amount, rating, payment_method, coupon_code, platform, app_version, session_id, acquisition_channel, is_prime_member, weather, basket_size_est, latitude, longitude, hour_of_day, day_of_week, month, is_weekend]
Index: []

[0 rows x 42 columns]

# Check count of particular column

In [24]:
df['customer_id'].value_counts().head()

customer_id
3691553    3
2488923    3
6699931    3
7165963    3
4237162    3
Name: count, dtype: int64

In [26]:
df[df['customer_id'] == 3691553]

,order_id,order_time,customer_id,city,locality,warehouse_id,delivery_partner_id,product_id,product_name,category,...,acquisition_channel,is_prime_member,weather,basket_size_est,latitude,longitude,hour_of_day,day_of_week,month,is_weekend
48147,73355699,2025-03-29 10:33:39,3691553,Jaipur,C Scheme,WH-009,DP-04134,P000615,Local Brand Dog Food,Pet Care,...,Organic,1,Clear,6,26.892648,75.756047,10,Saturday,2025-03,1
113956,78272103,2024-08-11 05:50:08,3691553,Jaipur,Malviya Nagar,WH-028,DP-00353,P000195,Tata Biscuits,Snacks & Munchies,...,Display,0,Clear,2,26.928583,75.830623,5,Sunday,2024-08,1
165850,46136348,2024-09-16 20:47:30,3691553,Chennai,Adyar,WH-054,DP-04899,P000508,Nestle Sugar,Staples,...,Organic,0,Light Rain,5,13.070228,80.241303,20,Monday,2024-09,0